body {
    margin: 0;
}

.Rectangle-2 {
    width: 100%;
    height: 50px;
    background-color: #4f88ef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-awesome {
    font-family: Bello;
    color: #fff;
    font-size: 26px;
}

.group {
    position: absolute;
    right: 16px;
    top: 18px;
}

.dropdown-menu {
    display: none;
    
}


